
$color-base: #444441;
$color-primary-one: #333333;
$color-primary-two: #808080;
$color-primary-three: #F9F9F7;

$color-global-white: #ffffff;
$color-global-shadow: #A3A3A3;

$color-accent-one: #FFAD24;
$color-accent-two: #FF3C24;
$color-accent-three: #FFFF22;
$color-accent-four: #417505;

$color-error: $color-accent-two;
$color-success: #4DBC06;

$color-background-facebook: #4267B2;
$color-background-mercado-pago: #009EE3;
